body {
background-repeat: repeat-x;

}

.outer {
  margin: 70px 100px 100px 100px;
}

.button1 {
   border-radius: 5px;
   color: black;
   padding: 5px;
   margin:  10px 0 0 10px;
   background-color: #E1E2E6;
   border: 1px solid black;
   font-size: 16px;
   font-family: 'gotu' , sans-serif;
 }
 .button1:hover {
   background-color: #BBBCBF;
 }

ul {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ul li a {
  font-family: 'gotu' , sans-serif;
}

h1 {
  font-family: 'gotu' , sans-serif;
}

h2 {
  font-family: 'gotu' , sans-serif;
}

.firstpage {
  font-style: italic;
}
